@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
    min-height: 100vh; /* allows body to grow with content */
    overflow-x: hidden; /* keeps horizontal scroll hidden */
    background-color: #0d1b2a;
    color: #778DA9;
}

header {
    margin-top: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background-color: transparent;
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    z-index: 100;
}

.name {
    font-size: 3rem;
    color: #415A77;
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;
}

section {
    min-height: 100vh;
    padding: 5rem 9% 5rem;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    background-color: #0d1b2a;
}

.home .home-content h1 {
    font-size: 8rem;
    font-weight: 700;
    line-height: 1.3;
}

span {
    color: #415A77;
}

.home-content h3 {
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

.home-img {
    border-radius: 50%;
}

.home-img img {
    position: relative;
    width: 22vw;
    border-radius: 50%;
    box-shadow: 0 0 25px solid #344e41;
}

.home-img img:hover {
    font-size: 1.8rem;
    font-weight: 500;
}

p {
    font-size: 2rem;
}

.social-buttons {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
}

.btn {
    padding: 2rem 4rem;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    transition: 0.3s;
    font-size: 2rem;
}

/* Colors for each social */
.discord { background-color: #415A77; }
.roblox { background-color: #415A77; }

#clock {
    font-size: 3em;
}
